<mat-accordion *ngIf="dishes.length > 0">
  <mat-expansion-panel *ngFor="let dish of dishes">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{dish.id}} - {{dish.name}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>{{dish.desc}}</p>
    <mat-action-row>
      <button mat-button color="primary">
        <i class="material-icons">edit</i> EDIT
      </button>
      <button mat-button color="warn">
        <i class="material-icons">delete</i> DELETE
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<div class="card" *ngIf="dishes.length <= 0">
  <div class="card-title">
    <h3>No dishes</h3>
  </div>
</div>
