.card{
  padding: 25px;
}
mat-form-field{
  width: 100%;
}

.btn-container{
  $m: 1rem;
  margin-top: $m;
  width: 100%;
  float: right;
  button{
    display: block;
    margin-left: $m;
    margin-right: $m;
  }
}
